<!DOCTYPE html>
<html style="overflow-x: scroll">
<head>
	<title>Trellolo</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header class="head"><a href="/kanbans"><img src="logo.png"></a><div class="logout"><a href="/logout">Выйти</a></div></header>
	<section class="columns">
  		<div class="column">
  			<div class="add-card" onclick="start_adding_column(this)"><div class="plus"></div>Добавить ещё одну колонку</div>
  		</div>
	</section>
  		<footer class="trashhold"><img src="trash.png"></footer>

<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="drag_and_drop.js"></script>
</body>
</html>