<!DOCTYPE html>
<html style="overflow-x: scroll">
<head>
	<title>Trello</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<section class="columns">
  		<div class="column">
  			<div class="add-card" onclick="start_adding_column(this)"><div class="plus"></div>Добавить ещё одну колонку</div>
  		</div>
	</section>

<script type="text/javascript" src="script.js"></script>
<script type="text/javascript" src="drag_and_drop.js"></script>
</body>
</html>