<!DOCTYPE html>
<html>
<head>
	<title>Trellolo</title>
	<link rel="stylesheet" type="text/css" href="main-page-style.css">
</head>
<body>
	<header class="head"><img src="logo.png"></header>
	<form action="/login/" method="post">
		<h3>Войдите или зарегистрируйтесь</h3>
  		<input required type="text" pattern="[A-Za-z0-9]{6,50}" title="Логин должен состоять из латинских букв и цифр, от 6 до 50 символов" id="login" name="user_name" placeholder="Введите ваше имя">
  		<br>
        <input required type="password" pattern="[A-Za-z0-9]{6,50}" id="password" title="Пароль должен состоять из латинских букв и цифр, от 6 до 50 символов" name="password" placeholder="Введите пароль">
        <br>
  		<input type="submit" class="login" name="login" id="submit" formaction="/login/" formmethod="post" value="Войти">
        <input type="submit" class="register" name="signup" id="register" formaction="/register/" formmethod="post" value="Зарегистрироваться">
  	</form>
</body>
</html>